<%- include('./partials/head') %>

<article>
  <header>
    <img src="<%=avatar%>" />
    <div class="text-box">
      <h1><%=name%> <span><%=surname%></span></h1>
      <p><%=bio%></p>
    </div>
  </header>

  <a href="<%=website%>">Github</a>

  <iframe
    style="border-radius: 12px"
    src="https://open.spotify.com/embed/playlist/3AgOPg5VkKF5ButVLCnobB?utm_source=generator"
    width="100%"
    height="240"
    frameBorder="0"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"
  ></iframe>
</article>

<%- include('./partials/foot') %>
